.Navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: relative;
  background: rgb(114, 195, 255);
  background: linear-gradient(
    135deg,
    rgba(114, 195, 255, 1) 0%,
    rgba(106, 47, 255, 1) 100%
  );
}

.Navbar .right {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.Navbar .right .button {
  color: #e1e1e1;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #212121;
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.Navbar .right .profileImage {
  width: 50px;
  height: 50px;
  background-color: #212121;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.Navbar .absolute {
  position: absolute;
  right: 120px;
  z-index: -10;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.44);
  border-radius: 7px;
  top: 80px;
  padding: 10px 0px;
  background-color: #f8f8f8;
  width: 350px;
}

.Navbar .absolute div {
  padding: 8px 30px;
  display: flex;
  column-gap: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}

.Navbar .absolute div svg {
  width: 18px;
}

.Navbar .absolute div:hover {
  background-color: rgba(126, 126, 126, 0.2);
}

.Navbar .absolute.opened {
  z-index: 10;
  opacity: 1;
}

.Navbar .absolute div p span {
  opacity: 0;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: rgb(148, 148, 148);
  transition: all 0.1s ease;
}

.Navbar .absolute div:hover p span {
  opacity: 1;
}

.createDesignButton {
  background-color: #212121;
  width: 90%;
  margin: 5px auto;
  padding: 10px !important;
  border-radius: 10px;
  text-align: center !important;
  color: #e1e1e1;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
}

.createDesignButton:hover {
  background-color: #111 !important;
}
