.Sidebar {
  /* border-right: 1px solid #ccc; */
  max-width: 100%;
  width: 350px;
  padding: 40px 15px;
}

.Sidebar div {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 0px;
}

.Sidebar div:hover {
  background-color: rgba(126, 126, 126, 0.2);
}

.Sidebar .sidebarListItem.active {
  font-weight: 700;
  background-color: rgba(126, 126, 126, 0.3);
  border-radius: 6px;
}
