.upload-container {
    width: 100%;
    height: 100%;
}

.upload-navbar {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upload-navbar h1 {
    font-weight: 600;
    font-size: 25px;
    color: #222;
}

.imageUploadArea {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    height: calc(100% - 87px);
}

.imageUploadArea button {
    appearance: none;
    background-color: #222;
    font-size: 15px;
    color: #e1e1e1;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.upload-navbar div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    font-size: 16px;
    font-weight: 500px;
    color: #222;
    fill: #222;
    cursor: pointer;
}

.upload-container input#image {
    display: block;

}

.upload-container label.imageLabel {
    width: 400px;
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
}

.upload-container label.imageLabel svg {
    transform: scale(3);
    fill: #222;
    display: block;  
}

.uploaded-images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    position: relative;
}

.uploaded-images img {
    /* border: 2px solid #222; */
    border-radius: 5px;
}
.imageWrapper {
    position: relative;
}

.imageWrapper:hover .imageDeleteOverlay {
    z-index: 1;
}

.imageDeleteOverlay {
    z-index: -1;
    transition: all .4s ease-in-out;
    width: 100%;
    height: 98%;
    background-color: rgba(1, 1, 1, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageDeleteOverlay div {
    color: #222;
    background-color: #ccc;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}