.Workspace {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px 30px;
}

.innerWorkspace {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 30px;
}

.innerWorkspace .designContainerWrapper {
  position: relative;
  max-height: 275px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.innerWorkspace .designContainerWrapper:hover .designActions {
  top: 20px;
}

.innerWorkspace .designContainerWrapper p {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.innerWorkspace .designContainer {
  width: 238px;
  height: 238px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.bottomText {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding-top: 10px;
}

.designContainerWrapper .designActions {
  position: absolute;
  right: 20px;
  top: -50px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.designContainerWrapper .designActions:hover {
  background-color: rgb(141, 141, 141);
}

.designContainerWrapper .designActions svg {
  fill: #e1e1e1;
  width: 15px;
}
